<a href="https://colab.research.google.com/github/kellykabura/visualization/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import openpyxl as

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel("/Users/kellykk/Desktop/pydata folders/data/QVI_transaction_data (3).xlsx")

In [ ]:
df = pd.read_csv("/Users/kellykk/Desktop/pydata folders/data/QVI_purchase_behaviour (1).csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [ ]:
df.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [ ]:
df.isnull()

       LYLTY_CARD_NBR  LIFESTAGE  PREMIUM_CUSTOMER
0               False      False             False
1               False      False             False
2               False      False             False
3               False      False             False
4               False      False             False
...               ...        ...               ...
72632           False      False             False
72633           False      False             False
72634           False      False             False
72635           False      False             False
72636           False      False             False

[72637 rows x 3 columns]

In [ ]:
df.isnull().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [ ]:
df.notnull().sum()

LYLTY_CARD_NBR      72637
LIFESTAGE           72637
PREMIUM_CUSTOMER    72637
dtype: int64

In [ ]:
df.isnull().any

<bound method DataFrame.any of        LYLTY_CARD_NBR  LIFESTAGE  PREMIUM_CUSTOMER
0               False      False             False
1               False      False             False
2               False      False             False
3               False      False             False
4               False      False             False
...               ...        ...               ...
72632           False      False             False
72633           False      False             False
72634           False      False             False
72635           False      False             False
72636           False      False             False

[72637 rows x 3 columns]>

In [ ]:
df.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
72632    False
72633    False
72634    False
72635    False
72636    False
Length: 72637, dtype: bool

In [ ]:
df.[isnull().any(axis=1)]

In [ ]:
df.isnull